<a href="https://colab.research.google.com/github/AntonioWanderer/Python-book-for-beginners/blob/main/1_%D0%92%D0%B2%D0%BE%D0%B4_%D0%B4%D0%B0%D0%BD%D0%BD%D1%8B%D1%85%2C_%D0%BF%D1%80%D0%B5%D0%BE%D0%B1%D1%80%D0%B0%D0%B7%D0%BE%D0%B2%D0%B0%D0%BD%D0%B8%D0%B5_%D1%82%D0%B8%D0%BF%D0%BE%D0%B2_%D0%BB%D0%B5%D0%BA%D1%86%D0%B8%D1%8F.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Ввод данных с клавиатуры, преобразование типов данных

Хотим, чтобы пользователь ввёл нам число и выведем значение в 3 раза больше

In [1]:
a = input()
n = int(a)
print(n * 3)

7
21



*   Мы прочитали то что ввёл пользователь при помощи функции **input()**
*   Да, пустые скобочки писать надо!
*   **a** это строка из цифр так что нам нужно превратить её в тип данных **int - целые числа** чтоб компьютер понимал, что это именно число.
*   Выводим то что требуется

In [2]:
a = input()
b = input()
n1 = int(a)
n2 = int(b)
print(n1 + n2)

23
76
99

Ввели два значения (первое, нажать Enter, второе, опять нажать Enter), преобразовали их в тип int, сложили

In [3]:
a = int(input())
b = int(input())
print(a+b)

35
87
122

То же самое, но теперь мы сразу преобразуем в числовой тип то что получили на вводе.

Давайте теперь общаться с пользователем

In [4]:
print("Введите пожалуйста два числа")
a = int(input())
b = int(input())
print("Сумма чисел = ",a+b)

Введите пожалуйста два числа
56
98
Сумма чисел =  154

В функцию print можно писать сколько угодно строк текста, переменных, всё через запятую.

In [5]:
print("Введите пожалуйста два числа")
a = int(input())
b = int(input())
print("Сумма чисел = ",a+b, "\nРазность чисел = ", a-b)

Введите пожалуйста два числа
864
31
Сумма чисел =  895
Разность чисел =  833

Чтобы перейти на новую строку нужно вывести специальный символ "\n" это как нажатие клавиши Enter

Давайте теперь сложим две строки и посмотрим что получится

In [6]:
s1 = "abcd"
s2 = "efgh"
s = s1 + s2
print(s)

abcdefgh

Строки склеились. То же самое произойдёт с числами если не преобразовать их в тип данных int. Сделам это в блокноте "исправь ошибки".

Задачи по уроку:

Исправление ошибок в коде:

___
Все блокноты: https://github.com/AntonioWanderer/Python-book-for-beginners